@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --darkcyan: hsl(158, 36%, 37%);
  --cream: hsl(30, 38%, 92%);
  --verydarkblue: hsl(212, 21%, 14%);
  --darkgrayishblue: hsl(228, 12%, 48%);
  --white: hsl(0, 0%, 100%);
}

body {
  @apply bg-cream;
}

.product {
  @apply tracking-widest font-montserrat;
}

.fraunces {
  @apply font-fraunces;
}

.text-container > p {
  @apply text-darkgrayishblue;
}

.text-container > h1 {
  @apply text-verydarkblue;
}

.price {
  @apply text-darkcyan;
}

.st-price {
  @apply text-darkgrayishblue;
}

button {
  @apply bg-darkcyan text-white;
}

.img-container img {
  transition: opacity 0.5s ease-in-out, transform 0.5s ease-in-out;
}

/* Custom Media Query for 375px */
@media screen and (max-width: 375px) {
  .img-container img {
    width: 90%; /* Adjust this value as needed */
    margin: 0 auto; /* Center the image */
    display: block; /* Ensure it's displayed as a block element */
    transform: scale(0.95); /* Slightly scale down the image */
  }
}
