@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --Darkcyan: hsl(158, 36%, 37%);
  --Cream: hsl(30, 38%, 92%);
  --Verydarkblue: hsl(212, 21%, 14%);
  --Darkgrayishblue: hsl(228, 12%, 48%);
  --White: hsl(0, 0%, 100%);
}

.product {
  letter-spacing: 0.5rem;
  font-family: "Montserrat", sans-serif;
}

.fraunces {
  font-family: "Fraunces", serif;
}

.text-container > p {
  color: var(--Darkgrayishblue);
}

.text-container > h1 {
  color: var(--Verydarkblue);
}

.price {
  color: var(--Darkcyan);
}

.st-price {
  color: var(--Darkgrayishblue);
}

button {
  background: var(--Darkcyan);
  color: var(--White);
}

@media screen and (width: 1440px) {
  h1 {
    color: blue;
  }
}
